@import "reset.css"; 
footer{ width: 100%; height: 246px; padding: 38px 80px; 
background: #0e2727;}
/* 좌측 컨텐츠 요소들 */
.foot_box1{ float: left; width: 65%; height: 170px; }
.foot1{ width: 100%; }
.foot1 li{ float: left; }
.foot1 li a{
    display: block; 
    padding: 10px 4px;
    font-size: 0.9rem; color: white;
}
.foot1 .footer_bar{width: 1%; padding: 10px 0; color:white}

/* 푸터 로고 */
.foot2 li:nth-child(1){ padding: 15px 0;}
.foot2 li:nth-child(1) a{ 
    display: block; height: 40px;
    background: url(../img/logo_footer.png) no-repeat left center;
    background-size: contain; font-size: 0.9rem; 
}
.foot2 li:nth-child(2) a{ display: block; font-size: 1.2rem; padding: 10px 0; color:white;}
.foot2 li:nth-child(3) a{ display: block; padding-top: 5px; color: white;}

/* 우측 컨텐츠 요소들 */
.foot_box2{ float: right; width: 35%; padding-top: 70px;
}
.sns{ width: 100%; }
.sns li{ 
    float: right;
    width: 40px; height: 40px; margin: 10px;
}
.sns li a{
    display: block; width: 100%; height: 100%;
    text-align: center; line-height: 40px; font-size: 1.3rem;
    border-radius: 100%; border: 1px solid #ccc; color:white;
}

.family, .brand{ 
    float: right;
    width: 40%; height: 40px; border: 1px solid #ccc; 
    margin-left: 10px; background: transparent; color:white;
}
option{ color:gray;}

/*----------미디어쿼리---------- */
/* 테블릿 */
@media screen and (min-width: 768px) and (max-width:1023px){   
    footer{height: 296px; padding: 38px 40px; }
    /* 좌측 컨텐츠 요소들 */
    .foot_box1{ width: 100%; height: 140px; }
    .foot1 li a{
        display: block; 
        padding: 10px 10px 10px 0; 
    }
    /* 푸터 로고 */
    .foot2 li:nth-child(1){ padding: 10px 0; }
    .foot2 li:nth-child(1) a{ height: 30px;}
    .foot2 li:nth-child(2) a{ font-size: 0.9rem; padding: 10px 0; }
    /* 우측 컨텐츠 요소들 */
    .foot_box2{ width: 100%; padding-top: 0;}
    .sns li{ 
        float: right;
        width: 30px; height: 30px; margin: 10px; }
    
    .sns li a{ line-height: 30px; font-size: 1.2rem;}
    .family, .brand{  width: 20%; height: 30px;}
}

/* 모바일 */
@media screen and (max-width:767px){   
    footer{ height: 270px; padding: 20px; }
    .foot_box1{ width: 100%; height: 150px; }
    a { font-size: 0.7rem; }
    .foot1 li a{ padding: 5px; }
    .foot1 .footer_bar{width: 1%; padding: 2.5px 0; }
    /* 푸터 로고 */
    .foot2 li:nth-child(1){ padding: 10px 0; }
    .foot2 li:nth-child(1) a{ height: 30px;}
    .foot2 li:nth-child(2) a{ font-size: 0.9rem; padding: 10px 0; }

    /* 우측 컨텐츠 요소들 */
    .foot_box2{  width: 100%;  padding-top: 0; margin-top: 50px;}
    .sns{display: none;}
    .family, .brand{ width: 50%; height: 30px; margin-left: 0;}
}