@import "reset.css"; 
/* 기본 font-size : 13px */
/* section */
section{
    width: 100%;
    position: relative;
}
/* article */
article{
    width: 100%;
    background:white;
    /* position: relative; */
    overflow: hidden;
}

/*---------------------article1---------------------*/
.at1{
    height: 100vh;
    background: url(../img/leader/bg1.jpg) no-repeat center center;
    background-size: cover;
   
}
.at1_box{
    margin: 250px 15% 0 15%;
    width:70%; 
    /* outline: 1px solid red; */
}
.at1_box>span{
    position: relative; top:-17px; left:0;
    display: inline-block;
    /* outline: 1px solid red; */
    width: 40px; 
    border-bottom: 3px solid #f38d36;
    margin-right: 10px;
}
.at1_box>p:nth-child(2){
    /* outline: 1px solid red; */
    display: inline-block;
    font-size: 5rem;
    text-shadow: 3px 5px 5px rgb(0 0 0 / 50%);
}
.at1_box>p:nth-child(3){
    padding-top:30px;  font-size: 1.5rem;
}

/*---------------------article2---------------------*/
.at2, .at3{ width: 100%;}
.at2 .at_bg{
    width: 100%; height: 350px;
    background: url(../img/leader/img0.png) no-repeat center center;
    background-size: cover;
}

.at2 .at_bg .at_box{
    position: relative; top:0; left: -40%;
    width: 80%; height: 100%;
    /* outline: 1px solid red; */
    /* display: none; */
}
.at2 .cont_box{
    position: relative; top:0; left:0;
    width: 100%; padding: 50px 10%;
    background: #e5e5e6; line-height: 1.5;
    display: none;
}
/* article2, article3 공통  */
.at_box p:nth-child(1){
    padding: 50px 0;
    font-size:2rem; font-weight: bold;
    color: #55b954;
}
.at_box p:nth-child(2){font-size: 2.5rem;}
.at_box p:nth-child(3){
    display: inline-block;
    font-size: 1.3rem; padding-top: 80px; color:#525252;
    /* outline: 1px solid red; */
}
.at_box span{
    position: relative;
    top:-5px;
    display:inline-block;
    width: 30px; height: 30px; margin-left: 10px;
    cursor: pointer;
    /* outline: 1px solid red; */
}

.at_box span i{
    display: block; font-size: 2rem;
    width: 100%; height: 100%;
    text-align: center; 
    line-height: 20px;
    border: 2px solid #6d6e71;
    border-radius: 100%; color:#6d6e71;
}
/*---------------------article3---------------------*/
.at3 .at_bg{
    width: 100%; height: 350px;
    background: url(../img/leader/img1.png) no-repeat center center;
    background-size: cover;
}
.at3 .at_bg .at_box{
    position: relative; top:0; left: 62%;
    width: 80%; height: 100%;
    text-align: right;
    /* outline: 1px solid red; */
    /* display: none; */
}
.at3 .cont_box{
    position: relative; top:0; left:0;
    width: 100%; padding: 50px 10%;
    background: #ebf2f6; line-height: 1.5;
    display: none;
}


/*----------미디어쿼리---------- */
/* 테블릿 */
@media screen and (min-width: 768px) and (max-width:1023px){   
    /*---------------------article1---------------------*/
    .at1_box{ margin: 30% 10% 0 10%; width:80%;}
    .at_box p:nth-child(2){font-size: 2rem;}
}
/* 모바일 */
@media screen and (max-width:767px){  
    /*---------------------article1---------------------*/
    .at1_box{ margin: 250px 10% 0 10%; width:80%; }
    .at1_box>p:nth-child(2){ font-size: 4rem; }
    .at1_box>p:nth-child(3){ font-size: 1.3rem;}
    /*---------------------article2---------------------*/
    .at2 .at_bg{ background: url(../img/leader/img0-1.png) no-repeat top left;
        background-size: cover;}
    
    .at2 .at_bg .at_box{
        position: relative; top:60%; left: 5%;
        width: 80%; height: auto;
        /* outline: 1px solid red; */
    }

    /* article2, article3 공통  */
    .at_box p:nth-child(1){
        padding: 15px 0;
        font-size:2rem; font-weight: bold;
        color: #55b954;
    }
    .at_box p:nth-child(2){display: none;}
    .at_box p:nth-child(3){ padding: 12px 5px; color:#ddd; background: rgb(0 0 0 / 50%);}


    /*---------------------article3---------------------*/
    .at3 .at_bg{  background: url(../img/leader/img1-1.jpg) no-repeat right top;
        background-size: cover;}
    .at3 .at_bg .at_box{
        position: relative; top:60%; left: 15%;
        width: 80%; height: auto;
        /* outline: 1px solid red; */
        /* display: none; */
    }

}