@import "reset.css"; 
/* body{ background: coral;} */
header{ 
    position: fixed; 
    top:0; left: 0;
    z-index: 1000;
    width: 100%; height: 80px;
    /* font-weight: 500; */
}
#menu{ width: 100%; height: 80px; background: transparent; }
#menu>li{ float: left; width: 12%; height: 100%; }

/* 메뉴 글씨 */
#menu>li>p{ width: 100%; height: 100%; line-height: 80px; 
    text-align: center; font-size: 1.3rem; color:white; 
}
/* 하단 테두리 가상요소*/
#menu>li>p::after{
    content: '';
    border-bottom: 3px solid #50b948;
    width: 0%; 
    display: block;
    transition-duration:0.4s;
    position: relative; 
    z-index: 10; /*호버시 배경이 흰색으로 바뀌고 배경 위로 테두리 선이 올라와야 해서 필요*/
}
#menu>li>p.changed::after{width: 100%;} /*jquery changed addclass로 제어*/

/*로고*/
#menu>li:nth-child(1){ margin: 0 15% 0 10%; } 
#menu>li:nth-child(1)>a{ 
    display: block;
    width: 100%;                
    height: 50px; margin-top: 15px;
    background: url(../img/logo.png) no-repeat center center; 
    background-size: contain; 
} 
/*프로필*/
#menu>li:nth-child(6){ width: 5%; } 
#menu>li:nth-child(6)>p{font-size: 1.8rem;} 

/* 서브메뉴 */
.submenu{
    position: absolute;
    top:80px; left: 0;
    width: 100%; height: 60px;
    display: none; 
}

.submenu>li{ float:left; width: 12%; height: 100%; }
.submenu>li>a{display: block; width: 100%; height: 100%; 
    text-align: center; line-height: 60px; 
    font-size: 1.1rem; color:black;
}

#menu> li:nth-child(2)>.submenu>li:nth-child(1){ margin-left: 37%;}
#menu> li:nth-child(3)>.submenu>li:nth-child(1){ margin-left: 49%;}
#menu> li:nth-child(4)>.submenu>li:nth-child(1){ margin-left: 61%;}
#menu> li:nth-child(5)>.submenu>li:nth-child(1){ margin-left: 73%;}

/* 서브메뉴 - 프로필 아이콘 */
#menu> li:nth-child(6)>.submenu>li:nth-child(1){ margin-left: 85%; }
#menu> li:nth-child(6)>.submenu>li{ width: 6%; } 

/* 모바일 메뉴바 */
#mobile_menu{
    position: absolute;
    top:0; left: 0;
    width: 50px; height: 50px;
    padding: 14.5px 15px;
    display: none;
}

/* 메뉴 토글 */
.bar1, .bar2, .bar3{
    width: 20px; height: 3px;
    background: white;
    transition: 0.4s;
}
.bar1,.bar2{ margin-bottom: 6px;}
/* 클릭시 변화 */
.change .bar1{width: 25px; transform: rotate(45deg) translate(5px, 9px);}
.change .bar2{ opacity: 0;}
.change .bar3{width: 25px; transform: rotate(-45deg) translate(4px, -8px);}

/*----------미디어쿼리---------- */
/* 테블릿 */
@media screen and (min-width: 768px) and (max-width:1023px){   
    /* body{ background: palegoldenrod;} */
    header{height: 60px;}
    #menu{ height: 60px; }
    #menu>li>p{
        line-height: 60px; font-size: 1.1rem;
    }
    /* 로고  */
    #menu>li:nth-child(1)>a{ 
        height: 30px; margin-top: 10px;
    }

    /* 프로필 */
    #menu>li:nth-child(6)>p{font-size: 1.6rem;} 
    /* 서브메뉴 */
    .submenu{
        position: absolute;
        top:60px; left: 0;
        width: 100%; height: 40px;
    }
    .submenu>li>a{line-height: 40px; font-size: 0.9rem;}
}


/* 모바일 */
@media screen and (max-width:767px){   
    /* body{ background: paleturquoise;} */

    header{ height: auto; }
    #menu{ width: 70%;  height: auto; margin-left: 15%;}
    #menu>li{ 
        clear: both; width: 100%;
        height: auto; 
        border-bottom: 1px solid rgba(204, 204, 204, 0.589);
        display: none; 
    }
    #menu>li:nth-child(1){border: none; z-index: 1000;} 
    #menu>li:nth-child(2){margin-top: 5%;} 

    #menu>li>p{line-height: 50px; color: white;}
    #menu>li>p::after{display: none;}


    /* 로고  */
    #menu li:nth-child(1){ margin:0 30%; width: 40%; display: block;  }
    #menu>li:nth-child(1)>a{ height: 40px; margin: 5px 0;}

    /*프로필*/
    #menu>li:nth-child(6){ width: 100%; }
    /* 서브메뉴 */
    .submenu{
        position: relative;
        top:0; left: 0;
        width: 100%; height: auto;
    }

    .submenu>li{ clear: both; width: 100%; height: 50px; line-height: 50px; }
    #menu> li:nth-child(2)>.submenu>li:nth-child(1),
    #menu> li:nth-child(3)>.submenu>li:nth-child(1),
    #menu> li:nth-child(4)>.submenu>li:nth-child(1),
    #menu> li:nth-child(5)>.submenu>li:nth-child(1),
    #menu> li:nth-child(6)>.submenu>li:nth-child(1)
    { margin-left: 0%; width: 100%;}
    .submenu>li>a{color: white;}
    #menu> li:nth-child(6)>.submenu>li{ width: 100%; } 

    /* 모바일 메뉴 버튼 */
    #mobile_menu{display: block; }
}